---
title: CHINOIS
layout: default
sid: chinois
permalink: /chinois/
---
<div class="container-fluid" >
    <div class="container">
        <div class="row">
            {% for i in site.data.items.chinois %}
            <div class="col-md-6">
                <div class="menu-chi isotope-item mains">
                    <h2>{{ i[0] }}</h2> 
                    <ul class="menu-ul">
                    {% for it in i[1] %}
                    <li> <div class="menu-li"> <h3>{{ it[0] }}</h3> <span>{{ it[1] }}€</span>  </div> </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
