---
title: MENU 
layout: default
sid: menu
permalink: /menu/
---
<div class="container-fluid" >
    <div class="container">
        {% for i in site.data.items.menu %}
        <div class="col-md-4">
            <div class="menu-chi menus">
                <h2>{{ i[0] }}</h2>
                <div class="menu-price">{{ i[1].price }}€</div>
                <ul>
                    {% for it in i[1].items %}
                    <li>{{ it }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
