<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container nav-head">
        <div class="pull-left col-md-4">
            <a href="/"> Eurasia Grill </a>
            <p>3 quai des rives neuves, 13001 Marseille</p>
        </div>
        <div class="pull-right col-md-4">
            <p>
            <a href="https://www.facebook.com/Eurasia-281829942190180/" target="_blank"> Facebook </a>
            &nbsp;
            &nbsp;
            <a href="#">04 91 55 02 74 </a>
            </p>
            <p> Ouvert 7j/7 11h30-14h30/18h30-22h30</p>
        </div>
    </div>
    <div class="container nav-list">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">ACCUEIL</a></li>
                <li><a href="/chinois/">CHINOIS</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JAPONAIS<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/sushi/">SUSHI</a></li>
                        <li><a href="/futomaki/">FUTOMAKI</a></li>
                        <li><a href="/maki/">MAKI</a></li>
                        <li><a href="/california/">CALIFORNIA</a></li>
                        <li><a href="/temaki/">TEMAKI</a></li>
                        <li><a href="/galette/">GALETTE ROLLS</a></li>
                        <li><a href="/sashimi/">SASHIMI</a></li>
                        <li><a href="/chirashi/">CHIRASHI</a></li>
                    </ul>
                </li>
                <li><a href="/desserts/">DESSERTS</a></li>
                <li><a href="/boisson/">BOISSON</a></li>
                <li><a href="/menu/">MENU</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/information/">INFORMATION</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
